*{
    margin: 0;
}
html,body{


    margin: 0;
    height: 100%;
}
body{

    max-width: 1900px;


}
.container {
	margin-left: auto;
    margin-right: auto;

    overflow: auto;
    padding: 0;
}
p,h1{
     font-family: antic-didone;
}
.fut {
    padding: 20px;
	text-align: center;
    color: #fff;
    font-size: 1.3em;
}
span{
    color: #CD3700;
}
footer{
    height: 150px;
    background: #8A360F;
    margin: 0;
}
