*{
    margin: 0;
}
html,body{

    margin: 0;
    height: 100%;
}
body{

    max-width: 1900px;


}
.container {
	margin-left: auto;
    margin-right: auto;

    overflow: auto;
    padding: 0;
}

footer{
    height: 150px;
    background: #8A360F;
    margin: 0;
}
